pkgbase = softethervpn-de-git
	pkgdesc = Multi-protocol VPN Program from University of Tsukuba - Developer Edition
	pkgver = r1799.22c602f6
	pkgrel = 1
	url = https://www.softether.org/
	arch = any
	license = Apache
	makedepends = git
	makedepends = cmake
	depends = bash
	depends = openssl
	depends = zlib
	depends = libsodium
	provides = softethervpn
	conflicts = softethervpn
	source = softethervpn-de-git::git+https://github.com/SoftEtherVPN/SoftEtherVPN.git
	source = softethervpn-bridge.service
	source = softethervpn-client.service
	source = softethervpn-server.service
	md5sums = SKIP
	md5sums = 1d54c0065ae8947bd8455b9e2050c1af
	md5sums = a1134fea991e6e00dc4910b1be16dc73
	md5sums = b54b4f68d56555ddfffc50c2c399624f

pkgname = softethervpn-de-git
